# Default ignored files
/workspace.xml

C:\GIT\ramadan-2020-assessments\.idea\encodings.xml
/encodings.xml
/misc.xml
/modules.xml
/ramadan-2020-assessments.iml
/vcs.xml
/codeStyles/codeStyleConfig.xml
/codeStyles/Project.xml
